
<!--<main>-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">MY PET PROJECT</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Settings</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">MY PET PROJECT</h1>
    <p class="lead">... is a pet project about pet projects</p>
  </div>
</div>


<!--<div class="card-deck">-->
<!--  &lt;!&ndash; Card &ndash;&gt;-->
<!--  <mdb-card>-->
<!--    <div class="view overlay waves-light" mdbWavesEffect>-->
<!--      &lt;!&ndash; Card img &ndash;&gt;-->
<!--      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>-->
<!--      <a>-->
<!--        <div class="mask rgba-white-slight"></div>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash;Card content&ndash;&gt;-->
<!--    <mdb-card-body>-->
<!--      &lt;!&ndash;Title&ndash;&gt;-->
<!--      <mdb-card-title>-->
<!--        <h4>Hello world!</h4>-->
<!--      </mdb-card-title>-->

<!--      &lt;!&ndash;Text&ndash;&gt;-->
<!--      <mdb-card-text> The simplest project.-->
<!--      </mdb-card-text>-->

<!--      <a href="#" mdbBtn color="primary" mdbWavesEffect>Start</a>-->
<!--    </mdb-card-body>-->
<!--  </mdb-card>-->

<!--  &lt;!&ndash; Card &ndash;&gt;-->
<!--  <mdb-card>-->
<!--    <div class="view rgba-white-slight waves-light" mdbWavesEffect>-->
<!--      &lt;!&ndash; Card img &ndash;&gt;-->
<!--      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>-->
<!--      <a>-->
<!--        <div class="mask"></div>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash;Card content&ndash;&gt;-->
<!--    <mdb-card-body>-->
<!--      &lt;!&ndash;Title&ndash;&gt;-->
<!--      <mdb-card-title>-->
<!--        <h4>Calculator</h4>-->
<!--      </mdb-card-title>-->

<!--      &lt;!&ndash;Text&ndash;&gt;-->
<!--      <mdb-card-text> Implement dummy command line calculator.-->
<!--      </mdb-card-text>-->

<!--      <a href="#" mdbBtn color="primary" mdbWavesEffect>Start</a>-->
<!--    </mdb-card-body>-->
<!--  </mdb-card>-->

<!--  &lt;!&ndash; Card &ndash;&gt;-->
<!--  <mdb-card>-->
<!--    <div class="view rgba-white-slight waves-light" mdbWavesEffect>-->
<!--      &lt;!&ndash; Card img &ndash;&gt;-->
<!--      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>-->
<!--      <a>-->
<!--        <div class="mask"></div>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash;Card content&ndash;&gt;-->
<!--    <mdb-card-body>-->
<!--      &lt;!&ndash;Title&ndash;&gt;-->
<!--      <mdb-card-title>-->
<!--        <h4>Guess the number game</h4>-->
<!--      </mdb-card-title>-->

<!--      &lt;!&ndash;Text&ndash;&gt;-->
<!--      <mdb-card-text> Command line game for guessing random number.-->
<!--      </mdb-card-text>-->

<!--      <a href="#" mdbBtn color="primary" mdbWavesEffect>Start</a>-->
<!--    </mdb-card-body>-->
<!--  </mdb-card>-->
<!--</div>-->
<router-outlet></router-outlet>
<!--  </main>-->

