<div class="card-deck">
    <!-- Card -->
<!--    <mdb-card>-->
<!--        <div class="view overlay waves-light" mdbWavesEffect>-->
<!--            &lt;!&ndash; Card img &ndash;&gt;-->
<!--            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>-->
<!--            <a>-->
<!--                <div class="mask rgba-white-slight"></div>-->
<!--            </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;Card content&ndash;&gt;-->
<!--        <mdb-card-body>-->
<!--            &lt;!&ndash;Title&ndash;&gt;-->
<!--            <mdb-card-title>-->
<!--                <h4>Hello world!</h4>-->
<!--            </mdb-card-title>-->

<!--            &lt;!&ndash;Text&ndash;&gt;-->
<!--            <mdb-card-text> The simplest project.-->
<!--            </mdb-card-text>-->

<!--            <a href="#" mdbBtn color="primary" mdbWavesEffect>Start</a>-->
<!--        </mdb-card-body>-->
<!--    </mdb-card>-->

</div>